body {
    background-color: #4b4b4b;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
a {
    text-decoration: none;
    color: inherit;
}
main {
    margin: auto;
    max-width: 900px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr
}
header h1{
    margin-bottom: 0;
}
header h2 {
    padding-bottom: 20px;
}
main h2, header, footer {
    text-align: center;
}
climb {
    padding:10px 20px 10px 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    transition: 0.3s;
    border-radius: 8px;
    background-color: #212529;
    color: white;
}
climb h2 {
    margin: 0 0 10px 0;
}
climb a, footer a {
    color: #fd7e14;
}
footer {
    padding-top: 30px;
}