<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="author" content="{{author}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{url}}">
  <meta property="og:description" content="{{description}}">
  <link rel="stylesheet" href="/css/style.css">
  <style>
    {% if home %}climb:nth-child(odd){background-color:#41464b}
    {% elif "Sport" in title %}climb{background-color:#41464b}
    {% endif %}
  </style>
</head>
<body>
  <header>
    <h1><a href="/">{{description}}</a></h1>
    {% if not home %}
    <div><h2>{{title}}</h2></div>
    {% endif %}
  </header>
  <main>
    {% if home %}
    <h2><a href="/sport">Sport Climbing</a></h2> 
    <h2><a href="/bouldering">Bouldering</a></h2> 
    {% endif %}
    {% for climb in data %}
    <climb>
      <h2>{{climb.name}}</h2>
      <b>Grade:</b> {{ map_grade(climb.type, climb.grade) }}<br>
      <b>Location:</b> 
      {% if climb.latitude is defined and climb.longitude is defined %}
        <a href="https://www.openstreetmap.org/?mlat={{climb.latitude}}&mlon={{climb.longitude}}&zoom=12" class="link-light" target="_blank">{{climb.area}}, {{climb.country}}</a>
      {% elif climb.country is defined %}
      {{climb.area}}, {{climb.country}}
      {% endif %}
      <br>
      <b>Ascents:</b>
      <ul>
      {% for ascent in climb.ascents %}
        <li>
          <a href="/{{ climber_path(ascent.climber, climb.type) }}">{{ascent.climber}}</a>
          {% if ascent.video %} <a href="{{ascent.video}}" target="_blank">▶️</a> {% endif %}
          {% if ascent.date %} {{ascent.date}} {% endif %}
        </li>
      {% endfor %}
      </ul>
    </climb>
    {% endfor %}
    {% if home %}
    <climb><a href="/sport">See more...</a></climb>
    <climb><a href="/bouldering">See more...</a></climb>
    {% endif %}
  </main>
  <footer>
    Spotted a mistake or want to add some information? 
    <a href="{{url_source}}" class="text-decoration-none" target="_blank">This way!</a>    
  </footer>
</body>
</html>